[Desktop Entry]
Type=Application
Exec=systemctl --user start startExpressVpn_Monitor.service
X-GNOME-Autostart-enabled=true
Icon=/opt/Vpn_Monitor/vpn_working.png
Name=ExpressVpn Monitor
Comment=Monitor and control Expressvpn
